<!DOCTYPE html>
<html>

<head>
  <title>memo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>● Simple 게시글</h2>
  <table border='1'>
    <tr>
      <th>no.</th>
      <th>내용</th>
      <th>날짜</th>
      <th>EDIT</th>
    </tr>
    <% rows.forEach((row,index)=>{ %>
    <tr>
      <td><%=row.ID%></td>
      <td><%=row.CONTENT%></td>
      <td><%=row.UPDATED_AT%></td>
      <td>
        <input type="button" onclick="javascript:location.href='/updateMemo?id=<%=row.ID%>'" value="수정" />
        <input type="button" onclick="javascript:location.href='/deleteMemo?id=<%=row.ID%>'" value="삭제" />
      </td>
    </tr>
    <% }) %>
  </table>
  <p></p>
  <input type="button" value="게시글 작성" onclick="javascript:location.href='/newMemo'" />
</body>

</html>
